<section class="section">
  <div class="container is-max-desktop">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to "Quinielas", pools_path %></li>
        <li class="is-active"><%= link_to "Quiniela #{@pool.id}", @pool, 'aria-current' => "page" %></li>
      </ul>
    </nav>

    <%= render "form", pool: @pool, locals: {verb: "Editar" } %>

  </div>

  <div class="container is-max-desktop mt-6">
    <%= link_to "Regresar", pools_path, class: "button is-link is-inverted" %>
  </div>
</section>
