<section class="section">
  <div id="pools" class="container is-max-desktop">
    <%# notice %>

    <h1 class="title">Quinielas</h1>

    <div class="content">
      <% @pools.each do |pool| %>
        <li class="is-size-5">
          <%= link_to "Quiniela de #{pool.user.name} en #{pool.party.name}", pool %>
        </li>
      <% end %>
    </div>
  </div>
</section>
