<section class="section">
  <div class="container is-max-desktop">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to "Mis Grupos", parties_path %></li>
        <li class="is-active"><a href="#" aria-current="page">Nuevo Grupo</a></li>
      </ul>
    </nav>

    <h1 class="title">Nuevo Grupo</h1>

    <%= render "form", party: @party, verb: "Crear" %>

  </div>

  <div class="container is-max-desktop mt-6">
    <%= link_to "Regresar a mis grupos", parties_path, class: "button is-link is-inverted" %>
  </div>
</section>
