<section class="section">
  <div class="container is-max-desktop">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <span class="icon-text">
            <%= link_to parties_path do %>
              <%= render "heroicons/home", style: :outline, size: :small %>
              <span>Mis Grupos</span>
            <% end %>
          </span>
        </li>
        <li class="is-active"><%= link_to "Nuevo Grupo", new_party_path, "aria-current" => "page" %></li>
      </ul>
    </nav>

    <h1 class="title">Nuevo Grupo</h1>

    <%= render "form", party: @party, verb: "Crear" %>

  </div>
</section>
