<h2>¡Hola!</h2>
<p><b><%= @from_user %></b> te ha invitado a unirte a su grupo <b><%= @party_name %>.</span></b>
<ul>
  <li style="line-height: 20px;">
    Visita <a href="http://quiniela2022.eliottramirez.dev">https://quiniela2022.eliottramirez.dev</a>
  </li>
  <li style="line-height: 20px;">
    Crea tu cuenta
  </li>
  <li style="line-height: 20px;">
    Únete a su grupo con el siguiente código: <code style="font-size: 20px;"><%= @sharing_code %></code>
  </li>
</ul>
