<section class="section">
  <div id="matches" class="container is-max-desktop">
    <%# notice %>

    <h1 class="title">Calendario</h1>
    <div class="box">
      <% @matches.each do |match| %>
        <%= render match %>
        <hr>
      <% end %>
    </div>
  </div>
</section>
