<section class="section">
  <div class="container is-max-desktop">
    <h1 class="title">Crear partido</h1>

    <%= render "form", match: @match, locals: {action: "Crear"} %>
  </div>

  <div class="container is-max-desktop mt-6">
    <%= link_to "Back to matches", matches_path %>
  </div>
</section>
